<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <meta name="htmx-config" content='{"selfRequestsOnly":false}'>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <title>TriviaLLM</title>
  </head>
  <body>
     <nav>
       <h1>TrivialLM</h1>
       <a href="#" class="button-link"
          hx-get="/page-create-quiz"
          hx-swap="innerHTML"
          hx-target="#main-content"
          hx-push-url="true"
          hx-indicator="#loading-quiz">
           Create Quiz
           <span id="loading-quiz" class="htmx-indicator">...</span>
       </a>
     </nav>
     <main id="main-content">
       <section id="leagues-section">
           <h2>My Leagues</h2>
           <div id="leagues-list">
            {% for league in leagues %}
              <a href="#" 
                hx-get="/leagues/{{ league.id }}"
                hx-target="#main-content"
                hx-swap="innerHTML"
                hx-push-url="true"
                hx-indicator="#loading-league">
                <div id="loading-league" class="htmx-indicator">...</div>
                {{ league.name }} - {% for team in league.teams %}{{ team.name }}{% if not loop.last %}, {% endif %}{% endfor %}
              </a>
            {% endfor %}
           </div>
       </section>
       <section id="quiz-section">
           <h2>My Quizzes</h2>
           <div id="quiz-list">
            {% for quiz in quizzes %}
              <a href="#" 
                hx-get="/quizzes/{{ quiz.id }}"
                hx-target="#main-content"
                hx-swap="innerHTML"
                hx-push-url="true"
                hx-indicator="#loading-quiz">
                <div id="loading-quiz" class="htmx-indicator">...</div>
                {{ quiz.id }}
              </a>
            {% endfor %}
           </div>
       </section>
     </main>
  </body>
</html>
